DOMAIN_NAME=domain.42.fr

# MYSQL SETUP
MYSQL_DATABASE=example
MYSQL_USER=example42
MYSQL_HOST=mariadb

MYSQL_PASSWORD=example123
MYSQL_ROOT_PASSWORD=rootexample123

# WORDPRESS SETUP
WP_ADMIN_USER=wpadmin
WP_ADMIN_PASSWORD=wpadmin123
WP_ADMIN_EMAIL=wpadmin@example.com
WP_USER=wpuser
WP_USER_PASSWORD=wpuser123
WP_USER_EMAIL=wpuser@example.com